<div class="presentation-banner">
  <div class="banner-top">
    <h2>NODALIS</h2>
    <label class="switch-with-icons">
      <mat-icon class="theme-icon">light_mode</mat-icon>
      <input type="checkbox" (change)="toggleTheme()" [checked]="darkMode" />
      <span class="slider"></span>
      <mat-icon class="theme-icon">dark_mode</mat-icon>
    </label>
  </div>
  <p>
    Bienvenido a esta página. Aquí encontrará una visión general e información
    importante sobre la aplicación.
  </p>
</div>

<div class="layout">
  <!-- Sidebar -->
  <aside class="sidebar" *ngIf="user$ | async as user">
    <div class="sidebar-title">Navegación</div>
    <hr />
    <nav class="nav-list">
      <ng-container *ngIf="user$ | async as user; else guest">
        <div
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }"
        >
          <a routerLink="/dashboard">Dashboard</a>
        </div>
        <div
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }"
        >
          <a routerLink="/info">Información del usuario</a>
        </div>
        <div
          *ngIf="user.role === 'admin'"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }"
        >
          <a routerLink="/users">Usuarios</a>
        </div>
        <div
          *ngIf="user.role === 'admin'"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }"
        >
          <a routerLink="/companies">Empresas</a>
        </div>
        <div
          *ngIf="user.role === 'admin'"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }"
        >
          <a routerLink="/nodes">Nodos</a>
        </div>
        <div
          *ngIf="user.role === 'admin'"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }"
        >
          <a routerLink="/projects">Proyectos</a>
        </div>
        <div
          *ngIf="user.role === 'admin'"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }"
        >
          <a routerLink="/users/create">Crear usuario</a>
        </div>
        <div>
          <a (click)="logout()">Cerrar sesión</a>
        </div>
      </ng-container>

      <ng-template #guest>
        <div
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }"
        >
          <a routerLink="/login">Iniciar sesión</a>
        </div>
      </ng-template>
    </nav>
  </aside>

  <!-- Main content -->
  <main class="main-content">
    <app-alert></app-alert>
    <router-outlet></router-outlet>
  </main>
</div>
