<div style="max-width: 400px; margin: 0 auto 20px">
  <mat-form-field appearance="outline" style="width: 100%">
    <mat-label>Seleccionar tipo de sensor</mat-label>
    <mat-select
      [(value)]="selectedTypeId"
      (selectionChange)="subReadings(selectedTypeId!)"
    >
      <mat-option *ngFor="let type of typesList" [value]="type.id">
        {{ type.name }} ({{ type.unit }})
      </mat-option>
    </mat-select>
  </mat-form-field>
</div>

<mat-card>
  <h2>Lecturas en tiempo real</h2>
  <canvas
    baseChart
    [data]="lineChartData"
    [type]="lineChartType"
    [options]="lineChartOptions"
  >
  </canvas>
</mat-card>
